.subscribe {
    background-color: #ffffff;
    padding: 4rem 1rem;
  }
  
  .subscribe__container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  
  .subscribe__curved {
    width: 120px;
    height: 120px;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .subscribe__curved svg {
    fill: black;
    font-size: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .subscribe__curvedText {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 20s linear infinite;
    font-size: 0.875rem;
  }
  .ptext{
    color: #AEACAC;
    font-size: 16px;
    font-family: var(--font-montreal-medium);
  }
  .subscribe__curvedItalic {
    font-style: italic;
  }
  
  .subscribe__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    max-width: 800px;
    margin: 0 auto;
    font-family: var(--font-novatica-semi-bold);
    color: #0E0E0E;
  }
  
  .subscribe__button {
    padding: 1rem 2rem;
    background-color: #C4B5A6;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
    border-radius: 4px;
  }
  
  .subscribe__button:hover {
    background-color: #b3a394;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Tablet and Desktop Styles */
  @media (min-width: 768px) {
    .subscribe {
      padding: 4rem 2rem;
    }
  
    .subscribe__curved {
      width: 170px;
      height: 93px;
    }
  
    .subscribe__curvedText {
      font-size: 1rem;
    }
  
    .subscribe__title {
      font-size: 3rem;
    }
  }