/* Contenedor general */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Título */
  .title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
    font-family: var(--font-novatica-semi-bold);
  }
  
  /* Carrusel (vista mobile) */
  .carousel {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Oculta el scroll en Firefox */
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Oculta el scroll en Chrome/Safari */
  }
  
  /* Tarjeta individual */
  .card {
    flex: 0 0 80%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

  }
  
  .label {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    font-family: var(--font-novatica-semi-bold);
font-size: 36px;
font-weight: 600;
line-height: 48px;
text-align: left;

  }
  
  /* Botón */
  .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 1080px) {
    .carousel {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      overflow: visible;
    }
  
    .card {
      flex: none;
      height: 460px;
    }
    
    .title {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
  }
  